#login_container{
    display: flex;
    background-color: gray;
    margin: auto;
    justify-content: center;
    width: fit-content;
    padding: 10px;

}

h2{
    text-align: center;
}

.reclamacao{
    width: 90%;
    height: 100px;
    background-color: white;
    border: black 1px;
    flex-direction: column;
    margin: 0px;
    padding: 10px;;
}



