#cadastro_container{
    display: flex;
    background-color: gray;
    margin: auto;
    top: 0%;
    bottom: 0%;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

label{
    font-size: 20px;
}

.input{
    width: 30vw;
    height: 25px;
}